<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    font cdn-->
    <link href="https://fonts.googleapis.com/css2?family=Ovo&family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--    bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Cole Mantra</title>
    <!--    owl carousel file-->
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2-1/owl.carousel.css">
    <!--    css style sheet-->
    <link rel="stylesheet" type="text/css" href="./style.css">
    <!--   icon cdn-->
    <script src=https//kit.fontawesome.com/c26cd2166c.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div class="super_container">
    <nav class="navbar navbar-expand-lg ">
        <div class="nav container">
            <div class="navbar">
                <div class="logo">
                    <h3>ColeMantra</h3>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav m-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Customized</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gift Hamper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gift Basket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gift Cards</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="px-2 search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!--end of Navigation Bar-->

    <!--    beginning of carousel-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://kaboompics.com/cache/0/5/7/0/0/0570053ee07f33abc8df4b2d6760b60bf9ba72e7.jpeg"
                     style="height: 650px; width: 100%;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <p>NEW BRIDAL TRAIN COLLECTION</p>
                                <h1>Get Up to 20% off</h1>
                                <h1>Orders from September 21st!!</h1>
                                <button class="btn1 mt-3 m1-2">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://kaboompics.com/cache/8/d/e/2/2/8de224c431779907dc73ee2863d65a11e356a126.jpeg"
                     style="height: 650px; width: 100%; opacity: 0.9;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <p>NEW BRIDAL TRAIN COLLECTION</p>
                                <h1>Get Up to 20% off</h1>
                                <h1>Orders from September 21st!!</h1>
                                <button class="btn1 mt-3 m1-2">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://kaboompics.com/cache/b/a/b/d/5/babd5f2694db2f046e47876e1239908ba3ee01a0.jpeg"
                     style="height: 650px; width: 100%;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <p>NEW BRIDAL TRAIN COLLECTION</p>
                                <h1>Get Up to 20% off</h1>
                                <h1>Orders from September 21st!!</h1>
                                <button class="btn1 mt-3 m1-2">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--end of Carousel-->

    <!--Banner-->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--                    first Banner-->
                    <div class="banner_item align-item-center"
                         style="background-image: url(https://cdn.mynamenecklacecanada.com/images/General/Package_img1_MB_UK.jpg);">
                        <div class="category">
                            <a href="#">BOXES</a>
                        </div>
                    </div>
                </div>
                <!--                second Banner-->
                <div class="col-md-4">
                    <div class="banner_item align-item-center"
                         style="background-image: url(https://images.unsplash.com/photo-1596241913274-fd9f65e3a2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80);">
                        <div class="category">
                            <p style="color: white; background-color: black; background-size: cover; line-height: 40px;"
                               class="title">Shop<span style="font-family: 'Pacifico', cursive; font-size: 25px; color: rgb(194, 59, 34);
font-weight: 400; ">with</span>Us</p>
                            <button class="btn5">Basket</button>
                        </div>
                    </div>
                </div>
                <!--                third banner-->
                <div class="col-md-4">
                    <div class="banner_item align-item-center"
                         style="background-image: url(https://images.pexels.com/photos/1666065/pexels-photo-1666065.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
                        <div class="category">
                            <a href="#">CARDS</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end of Banner-->

    <!--Product Cards-->
    <section class="collection">
        <div class="container py-5">
            <h1 class="text-center py-3">Explore More Items</h1>
            <div class="row">
                <!--            item 1-->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="product_bubble">
                            <span>New</span>
                        </div>
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-customized-black-mug-107669-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Customized Black Mug</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--            item 2-->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="product_bubble">
                            <span style="background-color: red;">Sold</span>
                        </div>
                        <img src="C:\Users\ASUS\PycharmProjects\myWebsite\templates\arno-senoner-ooj5VfXq5o8-unsplash.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Red Wine</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $12.99</span></small></p>
                    </div>
                </div>
                <!--            item 3-->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="product_bubble">
                            <span>New</span>
                        </div>
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt10prodlp/products/p-dream-a-little-98548-1.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Whiskey</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--            item 4-->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="product_bubble">
                            <span>New</span>
                        </div>
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodl/products/p-chocolates-and-dragees-in-wooden-tray-144169-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Chocolates In Wooden Tray</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--                item 5-->
                <div class="col-lg-3">
                    <div class="card">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt10prodlp/products/p-pink-white-satin-pillow-42709-2.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Pink & White Satin Pillow</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--                item 6-->
                <div class="col-lg-3">
                    <div class="card">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt10prodlp/products/p-customized-wooden-bookends-133135-3.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Customized Wooden Bookends</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--                item 7-->
                <div class="col-lg-3">
                    <div class="card">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-black-3-in-1-gift-set-customize-with-logo-and-name-132347-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Black 3 In 1 Gift Set</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--                item 8-->
                <div class="col-lg-3">
                    <div class="card">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt10prodlp/products/p-park-avenue-perfume-with-a-formal-belt-wallet-hamper-8993-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Park Avenue Perfume with a Belt & Wallet Hamper</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--new section with a fixed image-->
    <section class="parallex">
        <div class="container py-5 text-white text-center">
            <div class="row py-3">
                <div class="col-lg-9 mx-auto">
                    <h1>New Gift Package</h1>
                    <p class="py-3">You can represent any culture with your gift pack</p>
                    <button class="btn3 mr-1">SHOP NOW</button>
                    <button class="btn4">GET DEAL</button>

                </div>
            </div>
        </div>
    </section>

    <!--    second product card section-->
    <section class="collection">
        <div class="container py-5">
            <h1 class="text-center"><i class="bi bi-gift-fill"></i>Gift Collections</h1>
            <div class="row">
                <!--item 1-->
                <div class="col-lg-3">
                    <div class="card py-3">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodl/products/p-tasteful-indulgence-birthday-hamper-141282-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Colorful Birthday Hamper </h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--            item 2-->
                <div class="col-lg-3">
                    <div class="card py-3">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-gourmet-hamper-124764-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Hamper item Mixture</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--            item 3-->
                <div class="col-lg-3">
                    <div class="card py-3">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_prodm/products/p-tea-hamper-customized-with-message-142394-m.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Tea Hamper - Customized With Message</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
                <!--            item 4-->
                <div class="col-lg-3">
                    <div class="card py-3">
                        <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt10prodlp/products/p-enveloped-in-love-125248-1.jpg"
                             alt="" class="img-fluid mb-3">
                        <input type="button" value="Add to cart">
                        <h5>Bouquet with Customized gift box</h5>
                        <p><small>
                            <del>$23.99</del>
                            <span> $10.00</span></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact bg-light pt-5 text-center">
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <h1 class="mb-5">For Recommendation</h1>
                    <input type="text" placeholder="Enter your Email Address">
                    <button class="btn4  my-3">Contact Us</button>
                </div>
            </div>
        </div>
    </section>

    <section class="news py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-9 m-auto text-center">
                    <h1>Join Our Community</h1>
                    <input type="text" placeholder="Enter Your Email">
                    <button class="btn2">Submit</button>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-11 m-auto">
                    <div class="row">
                        <div class="col-lg-3 py-3">
                            <h5 class="pb-3">CUSTOMER SERVICE</h5>
                            <p>Regular</p>
                            <p>New</p>
                            <p>Social Media contact</p>
                            <p>Chat Box</p>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pb-3">FAQ's</h5>
                            <p>Nation Delivery</p>
                            <p>Inquiry</p>
                            <p>Track Item</p>
                            <p>Personalized design</p>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pb-3">SUGGESTIONS</h5>
                            <p>Customer delivery</p>
                            <p>Logistics</p>
                            <p>Packaging</p>
                            <p>Contact information</p>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pb-3">SOCIAL MEDIA</h5>
                            <span><i class="bi bi-facebook"></i></span>
                            <span><i class="bi bi-instagram"></i></span>
                            <span><i class="bi bi-twitter"></i></span>
                            <span><i class="bi bi-whatsapp"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p class="text-center" style="color: grey;">Copyright 2021 Nicole All Rights Reserved</p>

        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
